<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Fixture Stats</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container p-4 m-3 border rounded shadow">
        <h1>Player Fixture Stats</h1>

        <!-- <table class="table table-hover table-bordered"> -->

            <div class="tabular">
            <table class=" display nowrap table table-hover table-striped table-bordered table-sm" style="width:100%">
                
                <thead>
                    <tr>
                        {% for key in player_fixtures[0].keys() %}
                        <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in player_fixtures %}
                    <tr>
                        {% for value in row.values() %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            
            
            <img src="data:image/png;base64,{{ radar_plot_data }}" alt="Player Radar Chart" >
            <img src="data:image/png;base64,{{ rating_plot_data }}" alt="Player Radar Chart" >
            <a href="/" class="btn btn-primary">Back to Home</a> 
        </div>
    </body>
</html>
